<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<style media="screen">
  .present{
    height: 100vh;
    width: 100vw;
    text-align: center;
    line-height: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
</style>
<ion-content padding>
  <div class="present">
    <h3 style="color:rgba(0,0,0,0.5)">devCompiler App </h3>
    <span style="color:rgba(0,0,0,0.3)">App en desarrollo</span>
  </div>
</ion-content>
