<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item menuClose  *ngFor="let p of pages" (click)="openPage(p)">
        <!-- <ion-avatar item-start>
          <img src="img/avatar-cher.php">
        </ion-avatar> -->
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
        <h2>{{p.title}}</h2>
      </ion-item>
    </ion-list>
    <ion-fab>
    </ion-fab>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
