ion-col > ion-grid:before{
    content: '';
    height: 1px;
    width: 100%;
    background: #999;
} 
.line-col{
    flex: 1 3 auto;
}
ion-grid > ion-col > ion-col:nth-child(1){
    // font-size: 24px;
    color: #999;
}
ion-grid > ion-col > ion-col:nth-child(2){
    // font-size: 24px;
    color: #000;
}
ion-grid > ion-col > ion-col:nth-child(3){
    // font-size: 24px;
    color: #7cb342;
}
ion-grid > ion-col > ion-col:nth-child(4){
    // font-size: 24px;
    font-family: cursive;
    color: #e65100;
}