<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>>></ion-label>
    <ion-textarea elastic placeholder="Script" rows="12" [(ngModel)]="data" (keyup)="sintax(data)"></ion-textarea>
  </ion-item>


  <ion-fab top right edge>
    <button ion-fab color="secondary"><ion-icon name="paper"></ion-icon></button>
  </ion-fab>
  <!-- <ion-tabs>
    <ion-tab tabIcon="attach" [root]="tabOne" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabIcon="code" [root]="tabTwo" tabBadge="14" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabIcon="bug" [root]="tabThree" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
  </ion-tabs> -->
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-back"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="attach"></ion-icon></button>
      <button ion-fab><ion-icon name="code"></ion-icon></button>
      <button ion-fab (click)="execute(data)" color="danger"><ion-icon name="bug"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <!--<ion-list>
  <ion-content ion-item *ngFor="let item of items">
    <ion-item-divider color="light">A</ion-item-divider>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-content>
</ion-list>-->

  <!--return { reserved: arrayReserved, error: arrayError, definedByUser:arrayDefinedByUser };-->
   
  <ion-grid  *ngFor="let err of keypress.error">
    <ion-row>
      <ion-col col-auto>
        <ion-icon name="notifications" style="color:brown"></ion-icon>
      </ion-col>
       <ion-col col-6 style="color:brown">{{err.message}} on the line ( {{err.line + 1}} )</ion-col> 
    </ion-row>
  </ion-grid> 
  <ion-grid>
    <ion-row>
      <ion-col col-4 column>
        <strong>RESERVADAS</strong>
        <ion-grid *ngFor="let item of items.reserved">
          <ion-col col-12 row class="line-col">
            <ion-col>{{item.line + 1}}</ion-col>
            <ion-col>{{item.core}}</ion-col>
            <ion-col>{{item.typeToken}}</ion-col>
            <ion-col>{{item.message}}</ion-col>
          </ion-col>
        </ion-grid>
      </ion-col>
      <ion-col col-4 column>
        <strong>USUARIO</strong>
        <ion-grid *ngFor="let item of items.definedByUser">
          <ion-col col-12 row>
            <ion-col>{{item.line + 1}}</ion-col>
            <ion-col>{{item.core}}</ion-col>
            <ion-col>{{item.typeToken}}</ion-col>
            <ion-col>{{item.message}}</ion-col>
          </ion-col>
        </ion-grid>
      </ion-col>
      <ion-col col-4 column>
        <strong>ERRORES</strong>
        <ion-grid *ngFor="let item of items.error">
          <ion-col col-12 row>
            <ion-col>{{item.line + 1}}</ion-col>
            <ion-col>{{item.core}}</ion-col>
            <ion-col>{{item.typeToken}}</ion-col>
            <ion-col>{{item.message}}</ion-col>
          </ion-col>
        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>